<h1>Welcome to LongHorn Bank Admins!</h1>

<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/Texas-Longhorn.jpeg" alt="A Texas Longhorn hook'em"
         title="A Texas Longhorn" />
</div>