<h1>Welcome to LongHorn Bank!</h1>

<h4>Click Here to register for a Savings, Checking, IRA, and a Stock Profile</h4>

<a asp-action="Create" asp-controller="Accounts" class="btn btn-info">Bank Account</a>
 
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/IMG_7341.jpeg" alt="Adam and Tarun working on killer k project at 5am in the McCombs Atrium"
         title="Adam and Tarun working on MIS333K Project early in the morning" />
</div>

