@model fa22_finalproject_32.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<p><span class="text-danger">@ViewBag.errMsg</span></p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-control">
                </select>
                <span asp-validation-for="TransactionType" class="text-danger"></span>
            </div>


            @if (Model.TransactionType == TransactionType.Transfer || Model.TransactionType == TransactionType.Withdraw)
            {
                <div class="form-group">
                    <label asp-for="FromAccount" class="control-label"></label>
                    @Html.DropDownList("SelectedFromAccount", (SelectList)ViewBag.AllAccounts, new { @class = "form-control" })
                </div>

            }
            @if (Model.TransactionType == TransactionType.Transfer || Model.TransactionType == TransactionType.Deposit)
            {
                <div class="form-group">
                    <label asp-for="ToAccount" class="control-label"></label>
                    @Html.DropDownList("SelectedToAccount", (SelectList)ViewBag.AllAccounts, new { @class = "form-control" })
                </div>
            }
          
            
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisputeDate" class="control-label"></label>
                <input asp-for="DisputeDate" class="form-control" value="<%=DateTime.Now.ToString(" yyyy-MM-dd") %>" />
                <span asp-validation-for="DisputeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionComments" class="control-label"></label>
                <input asp-for="TransactionComments" class="form-control" />
                <span asp-validation-for="TransactionComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

