@model fa22_finalproject_32.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Withdraw</h1>

@*<h4>Transaction</h4>
*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Withdraw">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromAccount" class="control-label"></label>
                @Html.DropDownList("SelectedFromAccount", (SelectList)ViewBag.AllAccounts, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionComments" class="control-label"></label>
                <input asp-for="TransactionComments" class="form-control" />
                <span asp-validation-for="TransactionComments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisputeDate" class="control-label"></label>
                <input asp-for="DisputeDate" class="form-control" value=@ViewBag.Now />
                <span asp-validation-for="DisputeDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Withdraw" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

